{
    "presets": [
        [
            "es2015", { "modules": false }
        ],
        "es2016",
        "react"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul", {
                        "exclude": [
                            "**/*-test.js"
                        ]
                    }
                ],
                "rewire"
            ]
        }
    }
}
